@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Space+Mono&family=Ubuntu+Condensed&display=swap');

:root{
	--font-h2:'Space Mono', monospace;
	--font-h1:'Josefin Sans', sans-serif;
	--font-p:'Ubuntu Condensed', sans-serif;
}

h1 {
	font-size:4rem;
	font-family:var(--font-h1)
}

h2 {
	font-size:1.5rem;
	font-family:var(--font-h2)
}

p {
	font-size:1.8rem;
	font-family:var(--font-p)
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
